@import-normalize;

:root {
  --color-black: #000000;
  --color-black-quarter-opaque: #00000033;
  --color-blue: #0267C1;
  --color-green: #7CB518;
  --color-grey-base: #a0a0a0;
  --color-grey-light: #e0e0e0;
  --color-grey-dark: #333333;
  --color-orange: #FA6921;
  --color-orange-dark: #CC5619;
  --color-red: #EF271B;
  --color-white: #ffffff;
  --color-yellow: #F3DE2C;
  --color-primary: var(--color-orange);
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: 'Play', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap; /* added line */
}
